# Общие настройки
CONFIG_ESP_MAIN_TASK_STACK_SIZE=4096
CONFIG_FREERTOS_HZ=1000

# Настройки чипа ESP32-H2
CONFIG_IDF_TARGET="esp32h2"
CONFIG_ESP32H2_XTAL_FREQ_32=y

# Настройки ZigBee
CONFIG_ZB_ENABLED=y
CONFIG_ZB_RADIO_NATIVE=y

# Настройки для управления питанием
CONFIG_PM_ENABLE=y
CONFIG_ESP_SLEEP_POWER_DOWN_FLASH=y
CONFIG_ESP_SLEEP_GPIO_RESET_WORKAROUND=y

# Настройки ADC
CONFIG_ADC_CAL_EFUSE_TP_ENABLE=y
CONFIG_ADC_CAL_EFUSE_VREF_ENABLE=y
CONFIG_ADC_CAL_LUT_ENABLE=y

# Настройки OTA
CONFIG_BOOTLOADER_APP_ROLLBACK_ENABLE=y
CONFIG_OTA_ALLOW_HTTP=y
CONFIG_ESP_HTTPS_OTA_ALLOW_HTTP=y

# Настройки Wi-Fi (для резервного управления и OTA)
CONFIG_ESP_WIFI_STATIC_RX_BUFFER_NUM=16
CONFIG_ESP_WIFI_DYNAMIC_RX_BUFFER_NUM=32
CONFIG_ESP_WIFI_DYNAMIC_TX_BUFFER_NUM=32

# Настройки пинов GPIO
CONFIG_GPIO_ESP32H2_0_ENABLE=y  # Для ADC
CONFIG_GPIO_ESP32H2_4_ENABLE=y  # Для первого сервопривода
CONFIG_GPIO_ESP32H2_5_ENABLE=y  # Для второго сервопривода

# Настройки логирования
CONFIG_LOG_DEFAULT_LEVEL_INFO=y
CONFIG_LOG_COLORS=y

# Настройки флеш-памяти
CONFIG_ESPTOOLPY_FLASHSIZE_4MB=y 